.progress-bar-thin {
  margin-top: -1px;
  z-index: 1008;
}

.v-app-bar {
  transition-property: height, tranform, margin;
}

.v-app-bar-title {
  overflow: hidden;
}

.v-input--density-comfortable {
  --v-input-control-height: 36px;
}

.v-input__details {
  margin-bottom: 0;
}

.v-field { 
  --v-field-padding-start: 12px;
  --v-field-padding-end: 12px;
}

.v-text-field .v-input__details {
  padding-inline-start: 12px;
}

.v-list-item-avatar > .v-icon {
  opacity: unset;
}

/* List item - hide highlight after click */
.hide-active .v-list-item__overlay, .hide-active:focus .v-list-item__overlay {
  opacity: 0;
}

/* Fix buggy dialog */
.v-dialog .v-overlay__content {
  max-height: unset;
  max-width: 600px;
  width: 100%;
  padding: 16px;
}

html {
  overflow-y: auto
}